html,
body {
  height: 100%;
}
body {
  background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
  background-size: cover;
  background-position: top;
  font-family: "Lato", sans-serif;
  height: 100%;
}
.container {
  display: flex;
  height: 60px;
  background-color: #fff;
}
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.topo-image {
  width: 40%;
  margin-left: 20px;
}
.login-button {
  font-size: 20px;
  color: #da4760;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  font-weight: 700;
}
.container2 {
  display: flex;
  height: 90%;
}
.background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pink-body-fonte-grande {
  font-size: 28px;
  color: #fff;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: 900;
}
.pink-body-fonte-pequena {
  font-size: 18px;
  color: #fff;
  margin-right: 30px;
  margin-left: 30px;
}
.white-card {
  display: flex;
  width: 85%;
  height: 45%;
  margin: auto;
  margin-top: 0px;
  background-color: #fff;
  border-radius: 05px;
}
.buser-forms {
  margin-top: 10px;
  margin-left: 5%;
  font-weight: 700;
  font-size: 15px;
  font-family: sans-serif;
  color: #6c6969;
}
.data-box {
  width: 280px;
  height: 25px;
  margin-bottom: 10px;
}
.search-button {
  width: 285px;
  height: 40px;
  margin: auto;
  margin-top: 15px;
  background-color: #da4760;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  border: none;
}
.rodape {
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.icon {
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: 10px;
}
.footer-text {
  font-size: 15px;
  color: black;
  margin-top: 0;
}
